@import url('https://fonts.googleapis.com/css?family=Montserrat|Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4; 
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}


#img{
	width: 50px;
	height: 65px; 
}
.container1{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container1{
	min-height: 1128px;
	background-color: white;
	 grid-row: .col-xs-7;
	 margin: 0 auto;
}

.carousel-inner{
		

}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
    color:pink;
}
.card-img-top{
	
}
#led{
	width: 1346px;
	height: 150px;
	background-color: #000000;
	border-top: 1px solid #ffffff;
}
#led1{
	text-align: center;
	color: white;
	word-spacing: 60px;
}
footer{
	width: 1140px;
	margin-left: -15px;
}

.h3{
	font-family: 'Playball', cursive;
}
#bri{
	font-family: 'Playball',cursive;
}
h1{
	font-family: 'Montserrat', cursive;
}
h2{
	font-family: 'Montserrat', cursive;
}
#brii{
	font-family: 'Playball',cursive;
	margin-top: 20px;
}
#ca{
	margin-top: 20px;
}
.pl{
	float: left;
	text-align: left;
}
@media (min-width: 320px) { 
		#footer{
			background-color: #dc3545; 
			width: 262px; 
			height: 100px;
		}
}
@media (min-width: 375px) {
	#footer{
		background-color: #dc3545; 
		width: 315px; 
		height: 100px;
		}
}
@media (min-width: 425px) {
	#footer{
		background-color: #dc3545; 
		width: 365px; 
		height: 100px;
		}
}
@media (min-width: 768px) { 
		#footer{
			background-color: #dc3545; 
			width: 1000px; 
			height: 100px;
		}

}

@media (min-width: 992px) {
	#footer{
		background-color: #dc3545; 
		width: 1515px; 
		height: 100px;
		}
}

@media (min-width: 1200px) {

	#footer{
		background-color: #dc3545; 
		width: 1905px; 
		height: 100px;
		}
}
.pla{
	font-family: 'Montserrat', cursive;
}
.pl{
	float: left;
	text-align: left;
}