@import url('https://fonts.googleapis.com/css?family=Montserrat|Playball&display=swap');
body{
	background-color: #ccccff;
}
.navbar-brand{
	font-family: "Playball", cursive;
}
.container-fuid{
	background-color: #f3f4f5;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 40px;
}
#ti{
	text-align: center;
	font-size: 24px;
}
#corp{
	text-align: center;
	font-size: 17px;
}
.rounded-circle{
	width: 240px; 
	height: 240px;
	display: block;
	margin-left: auto; 
	margin-right: auto;
}
input{
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: auto; 
	margin-right: auto;
}
button{
	display: block;
	margin-top: 7px;
	margin-bottom: 13px;
	margin-left: auto; 
	margin-right: auto;
	border-radius: 5px;
}
#ft{
	width: 500px; 
	height: 500px;
	display: block;
	margin-left: auto; 
	margin-right: auto;
}

#by{
	font-family: "Playball", cursive;
}
#top{
	width: 25px;
	height: 25px;
}
#vt{
	float: right;
}
ul{
	float: right;
}